*{


    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}


body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    /* เซ็ตหน้าจอ */
    min-width: 100vh;
    background: linear-gradient(#ff9c71,#709fb0);
    padding: 33px 33px;
}
table{
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}
