*{


    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}


body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    /* เซ็ตหน้าจอ */
    min-width: 100vh;
    background: linear-gradient(#ff9c71,#709fb0);
    padding: 33px 33px;
}
table{
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
}


table,td,table th{
    padding-left: 50px;
}

table thead tr{
    height: 60px;
    background: slateblue;
}


table td,table th {
text-align: left;
}


.table-head th {
    color: white;
    font-size: 18px;
}


tbody   tr:nth-child(even){
    background-color: wheat;
}

tbody   tr{
    font-size: 16px;
    color: darkgreen;
    line-height: 1.2;
}


tbody   tr:hover{
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
}


.column1{
    width: 175px;
    padding-left: 40px;
}
.column2{
    width: 175px;
    padding-left: 40px;
}
.column3{
    width: 175px;
    padding-left: 40px;
}
.column4{
    width: 175px;
    padding-left: 40px;
}
.column5{
    width: 175px;
    padding-left: 40px;
}